/*************************************************************/
/* Stylesheet for homework Bootstrap-Portfolio               */
/*************************************************************/
.my-background{
    background-image: url('../images/memphis-mini.png');
}
main > .container {
    padding: 60px 15px 0;
  }
 
  .header2{
    color:#4aaaa5;
    font-size: 25px;
  }

  .footer {
    text-align: center;
    background-color: darkgray;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .border-3{
    border-width: 8px !important;
  }
  code {
    font-size: 80%;
  }