/*************************************************************/
/* Stylesheet for homework Bootstrap-Portfolio               */
/*************************************************************/
.my-background{
    background-image: url('../images/memphis-mini.png');
}
.mail-background{
    background-image: url('../images/email-pattern.png');
}
main > .container {
    padding: 60px 15px 0;
  }
.wrapper{
  width: 70%;
  height: 70%;
  margin-left: 250px;
  margin-top: 100px;
}
.nametag{
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #4aaaa5;
      margin-left: 15%;
}
  .header2{
    color:#4aaaa5;
  }

  .profile{
    float: left;
    margin: 2%;
}
p{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-overflow: ellipsis;
    margin-right: 1%;
}
#navbarSupportedContent{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 15%;
}
a:link{
    color: #777777;
}
a:visited{
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    background-color:#4aaaa5;
}
 
a:active {
    text-decoration: underline;
}

  .footer {
    text-align: center;
    border-color: #4aaaa5 !important;
    background-color: darkgray;  
    border-width: 8px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
/*
    These rules take effect when the browser's width
    is either 980px or less
*/
@media screen and (max-width:980px){
  .row{
    color:red;
    margin-top:1%;
    margin-left:10%;
    height: 90%;
  }
  p{
    white-space: nowrap;
    overflow: hidden;
  }
  .overflow-ellipsis{
    text-overflow: clip;
  }
  input,textarea{
    width:90%;
  }
  
}

/*
  These rules take effect when the browser's width
  is either 768px or less
*/
@media screen and (max-width:768px){
.row{
  color:blue;
  margin-top:1%;
  margin-left:15%;
  height: 90%;
}
p{
  white-space: nowrap;
  overflow: hidden;
}
.overflow-ellipsis{
  text-overflow: clip;
}
input,textarea{
  width:60%;
}

}


  /*
    These rules take effect when the browser's width
    is either 640px or less
  */
@media screen and (max-width:640px){
  .nametag{
      /*width: 630px;*/
      width: 100%;
  }
  .row{
    color:purple;
    margin-top:1%;
    margin-left:10%;
    height: 90%;
  }
  p{
    white-space: nowrap;
    overflow: hidden;
  }
  .overflow-ellipsis{
    text-overflow: 
  }
  input,textarea{
    width:50%;
  }
 }   
