/*************************************************************/
/* Stylesheet for homework Bootstrap-Portfolio               */
/*************************************************************/
.my-background{
    background-image: url('../images/memphis-mini.png');
}
.mail-background{
    background-image: url('../images/email-pattern.png');
}
main > .container {
    padding: 60px 15px 0;
  }

.nametag{
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #4aaaa5;
}
  .header2{
    color:#4aaaa5;
  }

  .profile{
    float: left;
    margin: 20px;
}
p{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-overflow: clip;
}
#navbarSupportedContent{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link{
    color: #777777;
}
a:visited{
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    background-color:#4aaaa5;
}
 
a:active {
    text-decoration: underline;
}

  .footer {
    text-align: center;
    border-color: #4aaaa5 !important;
    background-color: darkgray;  
    border-width: 8px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  